#work__together {
  color: #95c6ff;
  font-family: Inter-Bold, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

#touch {
  color: #f56161;
}

#contact__grid {
  display: grid;
  background-color: #f56161;
}
