@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(/fonts/Inter-Bold.ttf);
}
html {
  scroll-behavior: smooth;
}
body {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.13rem;
  font-family: Inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  background-color: #202020;
}

.dontshow {
  display: none;
}
