#user__name {
  color: #95c6ff;
}

#introduction {
  margin-top: 3rem;
  text-align: center;
  p {
    margin: 0.7rem auto 0;
    width: 80%;
    text-align: justify;
  }
}

#mugshot {
  width: 10rem;
  margin: 2rem auto 0;
  border-radius: 10rem;
}

#skillset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.skill__item {
  background-color: rgb(240, 29, 29);
  width: 100px;
  height: 100px;
  justify-self: center;
}
