@use "queries";
@import "/node_modules/flag-icons/css/flag-icons.min.css";

nav {
  background-color: hsla(0, 0%, 30%);
  position: sticky;
  top: 0;
  transition: 0.5s ease-in-out;
  @include queries.responsive(850px) {
    max-width: 70%;
    margin: auto;
    border-radius: 0 0 2rem 2rem;
    transition: 0.5s ease-in-out;
  }
}

#nav__items {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin: 0 0.5rem;
  img {
    width: 2.5rem;
    position: relative;
  }
  @include queries.responsive(600px) {
    justify-content: center;
    img {
      position: relative;
      left: -13rem;
    }
    #language__selector {
      position: relative;
      left: 13rem;
    }
  }
}
.fi {
  min-height: 2rem;
  min-width: 2rem;
  align-items: center;
  position: relative;
  margin-left: 0.5rem;
}

#language__selector {
  background: none;
  border: none;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
}

h4 {
  color: white;
  letter-spacing: 1px;
}
