@import "/node_modules/flag-icons/css/flag-icons.min.css";

nav {
  background-color: hsl(0, 0%, 30%);
}

#nav__items {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin: 0 0.5rem;
  img {
    width: 2.5rem;
    position: relative;
  }
}
.fi {
  min-height: 2rem;
  min-width: 2rem;
  align-items: center;
  position: relative;
  bottom: 0.5rem;
  margin-left: 0.5rem;
}

#language__selector {
  background: none;
  border: none;
  display: flex;
  text-transform: uppercase;
}

#home__button {
  background: none;
  border: none;
  position: relative;
  bottom: 0.5rem;
}
h4 {
  color: white;
  letter-spacing: 1px;
}
